.page-navigation {
	background-color:#3A3A3A; 
	height: 50px;

}

.page-navigation ul {
	list-style:none;
}

.page-navigation ul li {
	padding: 0 15px;
	line-height: 50px; 
	float: left

}
.page-navigation ul li a {
	color: #FF0000;
	text-decoration:none;
	font-weight: bold;
	font-size: 20px;


}

.page-navigation ul li a:hover {
	color:#0000FF ;
	font-weight:bolderr;
}

.hobbies li {
	color:#FF0000;
}

.title {
	color:#0033CC;
}

.title2{
	color:#FF0000;
	text-decoration: underline;
}

.links li  {
	color:#FF3399;

	
}

.links li a {
	color:#FF3399;

	
}

.links li a:hover {
	color:#009933;
	text-decoration: none;
}
body {
	background-color:#3A3A3A
}