body { 
	background-color: #CCFFCC;
	padding:40px;

}

h1 { 
	color: #3399FF;
	font-size:40px;
}

h3 {

	color: #FF0000
}

.container{
	width:740;
	margin:auto;
}

.main-header {
	height: 110px;
	color:#FFFFFF;
	background-color:#FF0000;

}