body {
	background-color:222244;
}
.container{ /* main section */
	width: 1300px;
	height:740px;
	margin:auto;
	background:#FFFFFF;
}

.main-header {
	height: 110px;
	background-color:444466;
	font-size:96px;
	padding:50px;
	font-weight:bolder;
	font-family: Verdana
}


.main-header img{
	float: left;
	background:444466;
	
}


.main-footer {
	background-color: #664444;
	clear: both;
    	z-index: 10;
	height:30px;
    	padding:20px;
}

.base {
	color: #FFF;
	text-align:center;
}



.page-navigation ul {
	list-style:none;
	padding:0px;
}

.page-navigation ul li {
	padding: 0 15px;
	line-height: 50px;
    	border-bottom: 1px dotted #000000;
 

}
.page-navigation ul li a {
	color: #000000;
	text-decoration:none;
	font-size: 20px;

}

#wrap{
	width:1300px;
}

.left {
	float:left;
	width:250px;
}

.left p{
	font-size:12px;
	text-align:center;
	
}

.right {
	padding-top:50px;
	width:1025px;
	float: right;
}

.survey{
	background-color:#FFFFFF
}