body{
	background-color:222244;
}
.container{ /* main section */
	width: 1300px;
	margin:auto;
	background:#FFFFFF;
}

.main-header {
	height: 110px;
	background-color:444466;
	font-size:96px;
	padding:50;
	

}

.main-footer {
	background-color: #664444;
	height:30px;
	padding:10px;


	
}

.base {
	color: #FFF;
	text-align:center;
}

